.alrt{
    position:absolute;
    top: -30vh;
}

.alrt1 {
    position:absolute;
    animation: alert1 2s 1 forwards;
}

.alrt2 {
    position:absolute;
    animation: alert2 2s 1 forwards;
}

@keyframes alert1 {
    0% {
        top: -30vh;
        left: 41vw;
    }   

    100% {
        top: 10vh;
        left: 41vw;
    }
}
@keyframes alert2 {
    0% {
        top: 10vh;
        left: 41vw;
    }

    100% {
        top: -30vh;
        left: 41vw;
    }
}

    